body {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 120%;
  text-align: center;
}

#main {
  font-size: 120%;
  width: 40%;
  margin: 50px auto 0px auto;
}

div #left {
  float: left;
}
div #right {
  float: right;
}

.note {
  margin-top: 50px;
  font-size: 110%;
}