<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Prediction</title>
</head>
<style>
    body{
        background-color: gray;
    }
    h1{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    input{
        margin-left: 680px;
    }
    button{
        margin-left: 730px;
    }
</style>
<body> 
    <h1>Stock Price Prediction😊</h1>
    <form action="{% url 'result' %}">
    
    {% csrf_token %}

    <!-- <h3>Enter the High label </h3>
    <input type="Number" name="high" placeholder="Enter the value" required>
    <h3>Enter the Low label</h3>
    <input type="Number" name="low" placeholder="Enter the value" required>
    <h3>Enter the Open label</h3>
    <input type="Number" name="open" placeholder="Enter the value" required>
    <h3>Enter the Volume label</h3>
    <input type="Number" name="volume" placeholder="Enter the value" required>
    <h3>Enter the Adj Close</h3>
    <input type="Number" name="adj" placeholder="Enter the value" required> -->


    <h3>Enter the Start Date</h3>
    <input type="date" name="start_date" placeholder="Enter the start date.">
    <h3>Enter the end date</h3>
    <input type="date" name="end_date" placeholder="Enter the end date.">
    <p></p>
    <button> Submit </button>
    </form>
</body>
</html>